* {
    margin:0;
    padding: 0;
    border: none;
    font-size: 3vh;
}


:root {
    --main-color: #197394;
    --second-color: #5ED4FF;
    --third-color: #3DB5E0;
    --quarter-color: #945C1F;
    --fifth-color: #E07400;
}

body {
    background-color: var(--second-color);
}

.centerdiv{
    margin-left: auto;
    margin-right: auto;
}


.menuform input{
    margin: 2px 0px;
    border: solid 1px;
    border-radius: 20px;
    padding: 10px;
}

input[type="submit"]{
    background-color: var(--fifth-color);
    padding: 5px 30px;
    margin: 10px 0px;
    border-radius: 20px;
    border: solid 1px var(--quarter-color);
}

input[type="submit"]:hover{
    color: white;
    cursor: pointer;
}

.textcenter{
    text-align: center;
}

.topbotmargin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
